<template>
    <div :class="theme + '-theme'">
        <report :title="i18n.gf('connect.title')" :theme="theme" v-if="host.id == 0 || host.stage == 'accepted'">
            {{ i18n.gf('connect.greetings') }} <br>
            {{ i18n.gf('connect.specifyHost') }}
            <b>"{{ i18n.gf('connect.submitLabel') }}"</b>
            <br>
            {{ i18n.gf('connect.ifBlocksPopup') }}
        </report>
        <report :title="i18n.gf('connect.finish.title')" :theme="theme" v-else v-html="i18n.gf('connect.finish.msg', { hostname: host.host, submit: i18n.gf('connect.submitLabel')}) + ' ' + i18n.gf('connect.ifBlocksPopup')"/>
        <form ref="handshake" method="post" target="_blank"
            :action="'https://' + hostname + '/bitrix/admin/settings.php?handshake=1&lang=' + lang + '&mid=webformat.formtransmitter&mid_menu=1'"
            enctype="application/x-www-form-urlencoded"
            class="w-50 me-3"
            @keydown.enter.prevent="createDonorHost"
            v-show="host.id == 0 || host.stage == 'accepted'"
        >

            <!-- <label :for="'host-url-' + uid"></label> -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" :id="'url-prefix-' + uid">https://</span>
                </div>
                <input type="text" class="form-control" :id="'host-url-' + uid" :aria-describedby="'url-prefix-' + uid" name="host" v-model="hostname">
            </div>

            <input v-for="(value, name) in credentials" type="hidden" :name="name" :value="value"/>
            <input type="hidden" name="host_id" value="0"/>
        </form>
        <bx-button theme="green" @click.prevent="createDonorHost" :button="button">
            {{ i18n.gf('connect.submitLabel') }}
        </bx-button>
        <report :report="preliminaryReport" :theme="theme"/>
        <!--
            В случае с обратным отсчётом браузер блокирует отправку формы как
            всплывающее окно (по всей видимости, т.к. это фоновый подпроцесс, а не
            инициированный пользователем по нажатию на кнопку). Поэтому обратный
            отсчёт не используется, несмотря на его более user-friendly вид
        -->
        <br />
        <count-down :counter="counter" @timeIsUp="submitForm">
            {{ i18n.gf('connect.redirectAfter') }} <span class="count-down"><b>{{ counter.pointer() }}</b></span> {{ i18n.gf('connect.second') }}
        </count-down>
    </div>
</template>

<script>
import { watch, inject, ref, reactive, onMounted, getCurrentInstance } from 'vue';
import { I18nClass } from 'webformat-jse';
// import { useI18n } from 'vue-i18n';
import { http } from 'webformat-jse';
import { default as CountDown, CountDownClass } from 'webformat-jse/ui/countDown'
import { default as Report, ReportClass } from 'webformat-jse/ui/report'
import { default as bxButton, BxButtonClass } from 'webformat-jse/ui/buttons/bx';
import { useStore } from '../../store';
import { useRouter } from 'vue-router';

export default {
    props: {
        hostId: { type: Number, default: 0 },
    },
    setup(props, context) {
        const com = getCurrentInstance();
        const uid = com.uid;
        const store = useStore();
        const router = useRouter();
        const theme = inject('theme');
        const host = (props.hostId > 0) ? _.filter(store.state.donorHosts, ['id', props.hostId])[0] : { id: 0, host: '', stage: '' };
        console.log('[donor-connect-manager] host', host);

        const handshake = ref(null);
        const credentials = inject('credentials');
        const preliminaryReport = reactive(new ReportClass());

        let hostname = ref('');
        let lang = credentials.LANG.toLowerCase();
        const button = reactive(new BxButtonClass());
        const counter = reactive(new CountDownClass());
        let checkIntervalId = 0;
        let curCheckAttemptNum = 0;

        watch(hostname, (newValue, prevValue) => {
            button.disabled(newValue.length <= 0);
        });
        hostname.value='_';
        hostname.value= host.id > 0 ? host.host : ''; // trigger watch listener

        const i18n = new I18nClass({
            ru: {
                connect: {
                    title: 'Подключение внешнего сайта',
                    greetings: 'Для начала работы необходимо подключить к Битрикс24 хотя бы один внешний сайт. Тогда появится возможность задать настройки и получать лиды из вебформ этого сайта.',
                    specifyHost: 'Укажите, пожалуйста, в текстовом окне ниже адрес внешнего сайта, после чего нажмите на кнопку',
                    submitLabel: 'Подключить',
                    ifBlocksPopup: '(если ваш браузер заблокирует всплывающее окно при перенаправлении на указанный вами сайт - пожалуйста, разрешите его, иначе мы не сможем подтвердить авторизацию)',
                    preliminary: {
                        success: {
                            title: 'Предварительное подключение выполнено',
                            message: 'Данные о сайте успешно сохранены. Сейчас вы будете перенаправлены в его административную часть для подтверждения авторизации...'
                        },
                        error: {
                            title: 'Ошибка предварительного подключения',
                            csrf: 'Ошибка cookies. Вероятно, ваш браузер не поддерживает последние изменения в политиках безопасности cookies при работае в iframe. Попробуйте обновить ваш браузер или выполнить подключение из другого (например, Google Chrome последней версии)'
                        },
                    },
                    hostInstalled: {
                        title: 'Сайт успешно подключен',
                        message: 'Указанный вами сайт успешно подключен, обмен ключами произведён. Теперь вы можете продолжить настройку вебформ этого сайта в текущем интерфейсе (из каких полей вебформ сайта в какие поля лидов Битрикс24 сохранять данные).'
                    },
                    redirectAfter: 'Вы будете перенаправлены на указанный вами сайт через',
                    second: 'сек',

                    finish: {
                        title: 'Завершите подключение сайта',
                        msg: 'Ранее вы начали подключение сайта <b>"{hostname}"</b>, но не закончили. Для продолжения нажмите на кнопку "{submit}" ниже - вы будете перенаправлены на указанный сайт для подтверждения авторизации',
                    }
                }
            }
        });

        let createDonorHost = function(e){
            preliminaryReport.hide();
            console.log('clicked!');
            console.log('hostname:', hostname.value);
            if(hostname.value.length <= 4){
                return false;
            }
            button.preloading(true).disabled(true);

            http.post('/hosts', {
                hostname: hostname.value,
                ...credentials
            }).then(payload => {
                console.log('received data: ', payload);
                preliminaryReport.title(i18n.gf('connect.preliminary.success.title')).success(i18n.gf('connect.preliminary.success.message'));
                let hostId = parseInt(payload.id);
                if(isNaN(hostId) || hostId <= 0){
                    console.error('[donor connect manager] Unexpected host id received!', payload.id, hostId);
                }else{
                    handshake.value.host_id.value = hostId;
                    handshake.value.submit();
                    curCheckAttemptNum = 0;
                    checkIntervalId = setInterval(checkHostIsInstalled, 3000, hostId, credentials);
                }
                // counter.activate().show();
            }).catch(response => {
                preliminaryReport.title(i18n.gf('connect.preliminary.error.title'));
                if(response.status == 419){
                    preliminaryReport.error(i18n.gf('connect.preliminary.error.csrf'));
                }else{
                    preliminaryReport.error(response.errors);
                }
                counter.hide();
            }).finally(() => {
                preliminaryReport.show();
                button.preloading(false).disabled(false);
            });
        }

        let submitForm = function(){
            console.log('submitting form!');
            handshake.value.submit();
        }

        let sleep = function(time){
            return new Promise((resolve) => setTimeout(resolve, time));
        }

        let checkHostIsInstalled = function(hostId, credentials){
            curCheckAttemptNum++;
            http.get('/hosts/' + hostId, credentials).then(payload => {
                console.log('payload returned: ', payload);
                if(payload.finished){
                    preliminaryReport.title(i18n.gf('connect.hostInstalled.title')).success(i18n.gf('connect.hostInstalled.message'));
                    clearInterval(checkIntervalId);
                    store.updateDonorHosts([payload.hostInfo]);
                    sleep(3000).then(() => {
                        console.log('[donorConnectManager] trying to move to the route "settings-specific-host"');
                        router.push({
                            name: 'settings-specific-host',
                            params: { 'hostId': hostId }
                        });
                    });
                }
            }).catch(response => {
                console.warn('Intermediate check response', response);
            }).finally(() => {
                if(curCheckAttemptNum >= 100){
                    console.error('Max check attempts limit exhausted');
                    clearInterval(checkIntervalId);
                }
            });
        }

        return {
            uid,
            i18n,
            hostname, credentials, lang, createDonorHost,
            handshake, preliminaryReport,
            button, counter, submitForm,
            theme,
            host
        };
    },
    components: { Report, bxButton, CountDown }
};
</script>

<style scoped>
form{
    display:inline-block;
}
.count-down{
    vertical-align:middle;
}
.count-down, .count-down b{
    display:inline-block;
    border-radius: 28px;
    font-size:30px;
    /* vertical-align:-15%; */
    border: 2px solid #47E2C1;
    background: #8EE0F3;
}
.count-down b{
    border: 2px solid white;
    padding: 0 14px;
    font-weight:normal;
}

.dark-theme input.form-control{
    background: var(--input-bg, rgba(255, 255, 255, 0.3));
    border: var(--input-border, 1px solid rgb(198, 205, 211));
    color:var(--input-color, white);
}
</style>
