<template>
    <div>
        <template v-if="host.stage == 'accepted'">
            <ul class="tab-titles">
                <router-link :to="{name: 'leads'}" custom v-slot="{ href, route, navigate, isActive, isExactActive }">
                    <li :class="[isActive && 'active', isExactActive && 'exact']" @click="navigate">{{ i18n.gf('host.tabs.leads.title') }}</li>
                </router-link>
                <router-link :to="{name: 'smartprocesses'}" custom v-slot="{ href, route, navigate, isActive, isExactActive }">
                    <li :class="[isActive && 'active', isExactActive && 'exact']" @click="navigate">{{ i18n.gf('host.tabs.smartprocesses.title') }}</li>
                </router-link>
            </ul>
            <div class="tab-conent">
                <router-view v-slot="{ Component, route }">
                    <transition
                        :enter-active-class="route.meta.enterClass"
                        :leave-active-class="route.meta.leaveClass"
                    >
                        <keep-alive>
                            <component :is="Component" v-bind="{'hostId': host.id}" :key="route.fullPath"/>
                        </keep-alive>
                    </transition>
                </router-view>
            </div>
        </template>
        <donor-connect-manager :host-id="host.id" v-else/>
    </div>
</template>

<script>
import { useRouter, useRoute } from 'vue-router';
import { I18nClass } from 'webformat-jse';
// import { Entity } from './host/entity.vue';
import { useStore } from '../../store';
import DonorConnectManager from './donorConnectManager';

export default {
    name: 'Host',
    props: {
        // id: { type: Number },
    },
    setup(props, context) {
        const route = useRoute();
        const router = useRouter();
        const hostId = parseInt(route.params.hostId);
        const store = useStore();
        const host = _.filter(store.state.donorHosts, ['id', hostId])[0];

        // console.log('[host] props', props);
        // console.log('[host] host id', route.params.hostId);
        console.log('[host] route.name', route.name);
        /* if(route.name == 'settings-specific-host'){
            router.push({ name: 'leads' });
        } */

        const i18n = new I18nClass({
            ru: {
                host: {
                    tabs: {
                        leads: {
                            title: 'Лиды'
                        },
                        smartprocesses: {
                            title: 'Смарт-процессы'
                        },
                    }
                }
            }
        });

        return {
            i18n, host,
            route
        };
    },
    components: { DonorConnectManager }
};
</script>

<style scoped>

ul.tab-titles{
    text-transform:uppercase;
    font-size:12px;

    margin:8px 0;
    padding: 7px 6px;
    background: var(--board-bg);
    border-radius: 16px;
    color:rgba(255, 255, 255, 0.8);
}
ul.tab-titles, ul.tab-titles li{
    position:relative;
    list-style-type:none;
    display:inline-block;
    font-weight:bold;
    cursor:pointer;
    margin-right: 15px;
}
ul.tab-titles li{
    margin:0 13px;
    padding:0;
}
.tab-titles li.active, .tab-titles li:hover{
    color: white;
}

.tab-titles li.active:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.5);
}

.tab-conent{
    position:relative;
}
.tab-conent > *{
    position:absolute;
    top:0;
}
/* .fade-enter-from,
.fade-leave-to {
    opacity:0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease-out;
} */
</style>
