<template>
    <router-view v-slot="{ Component }">
        <component :donor-hosts="donorHosts" :is="Component" />
    </router-view>
</template>

<script>
import { provide, ref } from 'vue';
import { useRouter, useRoute } from 'vue-router';
import { useI18n } from 'vue-i18n';
import { useStore } from './store';

export default {
    props: {
        credentials: { type: Object, default: {} },
        placement: { type: Object, default: {type: 'DEFAULT', options: {}} },
        restricted: { type: Number, default: 0 },
        donorHosts: { type: Array, default: [] },
        appHost: { type: String }
    },
    setup(props, context) {
        provide('credentials', props.credentials);
        provide('placement', props.placement);
        provide('appHost', props.appHost);
        provide('theme', 'dark');

        const store = useStore();
        store.updateDonorHosts(props.donorHosts);
        // console.log('[app] state donor hosts: ', store.state.donorHosts, store.state.donorHosts.length);

        const donorHosts = ref(props.donorHosts);
        // console.log('donor-hosts:', props.donorHosts);

        const i = useI18n({
            messages: {
                en: { appName: "Application" },
                ru: { appName: "Приложение"}
            }
        });
        const ig = useI18n({ useScope: "global" });
        const router = useRouter();
        if(Boolean(props.restricted)){
            router.push({name: 'restrict'});
        }

        document.title = (ig.te('appName') ? ig.t('appName') : i.t('appName'));
        document.body.style.setProperty('--background', 'url(' + props.appHost + '/images/pattern-presents.svg) 0px 0px repeat rgb(12, 88, 141)');
        return {
            // request: props.hit,
            donorHosts
        };
    },
};
</script>

<style>
    :root{
        --board-bg: #ffffff26;
        --input-bg: rgba(255, 255, 255, 0.3);
        --input-border: 1px solid rgb(198, 205, 211);
        --input-color: white;
        --board-color-regular: rgba(255, 255, 255, 0.8);
        --bg-plus1: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2010%2010%22%3E%0A%20%20%3Cpath%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20d%3D%22M109%2C16%20L109%2C12%20L107%2C12%20L107%2C16%20L103%2C16%20L103%2C18%20L107%2C18%20L107%2C22%20L109%2C22%20L109%2C18%20L113%2C18%20L113%2C16%20L109%2C16%20Z%22%20transform%3D%22translate%28-103%20-12%29%22%20opacity%3D%22.943%22/%3E%0A%3C/svg%3E') center center no-repeat;
    }
    html{
        min-height:100%;
        position:relative;
    }
    body{
        margin:0;
        padding:0;
        height:100%;
        background: var(--background);
    }
    body .app-is-restricted{
        color: white;
        padding:5px 15px;
    }
    /*
    #app{
        display:flex;
    }
    #app > * {
        width:100%;
    }
    */
</style>
