<template>
    <ul v-show="hosts.length">
        <router-link v-for="host in hosts" :to="{name: 'settings-specific-host', params: { hostId: host.id }}" custom v-slot="{ href, route, navigate, isActive, isExactActive }">
            <li @click="navigate" :class="[isActive && 'active', isExactActive && 'exact']">
                {{ host.title || host.host }}
                <span class="icons">
                    <i class="remove"
                        :title="i18n.gf('hosts.remove.title')"
                        @click.stop="removeHost(host)"
                    ></i>
                </span>
            </li>
        </router-link>
        <router-link :to="{name: 'settings-host-plus', params: { hostId: 0 }}" custom v-slot="{ href, route, navigate, isActive, isExactActive }">
            <li class="plus" :title="i18n.gf('hosts.plus.title')" @click="debug(navigate, route, href)" :class="[isActive && 'active', isExactActive && 'exact']"></li>
        </router-link>
    </ul>
</template>

<script>
import { inject } from 'vue';
import { useRouter, useRoute } from 'vue-router';
import { useStore } from '../store';
import { http, I18nClass } from 'webformat-jse';

export default {
    props: {
        // hosts: { type: Array, default: [] },
    },
    setup(props, context) {
        const store = useStore();
        const credentials = inject('credentials');
        const router = useRouter();

        const i18n = new I18nClass({
            ru: {
                hosts: {
                    plus: {
                        title: 'Подключить веб-формы с нового сайта',
                    },
                    remove: {
                        title: 'Отключить данный сайт от Битрикс24',
                        confirm: 'Вы действительно хотите отключить сайт #server_name#? Настроенные соответствия полей для всех вебформ этого сайта с лидами будут удалены'
                    }
                }
            }
        });

        function removeHost(host){
            if(!confirm(i18n.gf('hosts.remove.confirm').replace(/#server_name#/, host.host))){
                return false;
            }
            http.post('/hosts/' + host.id, {
                _method: 'delete',
                ...credentials
            }).then(payload => {
                store.removeDonorHost(host.id);
                if(!store.state.donorHosts.length){
                    router.push({ name: 'settings-host-plus' });
                }else{
                    router.push({
                        name: 'settings-specific-host',
                        params: { 'hostId': store.state.donorHosts[0].id }
                    });
                }
            }).catch(response => {
                console.warn('[leads] This buggy situation #IMgTBLXBz0Pu should be treated correctly! ', response);
            });
        }

        function debug(...myargs){
            console.log('args: ', myargs);
            myargs[0](myargs[1]);
        }

        return {
            hosts: store.state.donorHosts,
            removeHost, i18n, debug
        };
    },
};
</script>

<style scoped>
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 4px 15px; */
}
ul, li{
    margin:0;
    list-style-type:none;
}

/* ul .plus:hover:before{
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20cx%3D%227%22%20cy%3D%227%22%20r%3D%227%22%20fill%3D%22%232FC7F7%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M8%206V3H6v3H3v2h3v3h2V8h3V6H8z%22/%3E%3C/g%3E%3C/svg%3E);
} */

ul li{
    padding:2px 15px;
    /* overflow: hidden; */
    white-space: nowrap;
    text-overflow: ellipsis;
    width:100%;
    /* background: var(--board-bg); */
    color: var(--board-color-regular);
    margin-bottom:6px;
}

ul li.plus:before{
    display:block;
    content: '';
    background: var(--bg-plus1);
    width:100%;
    height:14px;
    margin:10px 0;
    /*
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20cx%3D%227%22%20cy%3D%227%22%20r%3D%227%22%20fill%3D%22%231058D0%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M8%206V3H6v3H3v2h3v3h2V8h3V6H8z%22/%3E%3C/g%3E%3C/svg%3E);
    */
}

ul li:hover,
ul li.active{
    position:relative;
    background: var(--board-bg);
    cursor:pointer;
}
ul li.active:not(.plus){
    text-decoration:underline;
}
/*
ul li:not(.plus):hover:after{
    content:'';
    position:absolute;
    height:16px;
    width:16px;
    background:yellow;
    right:-16px;
}
*/

.icons{
    visibility:hidden;
    position:absolute;
    right:-20px;
    width:22px;
    text-align:center;
}
ul li:not(.plus):hover .icons
{
    visibility:visible;
}
.icons *{
    display:inline-block;
    width:10px;
    height:13px;
    opacity:0.5;
    cursor:pointer;
    transition: all 0.25s ease;
}
.icons *:hover{
    opacity:0.9;
    transform: scale(1.5);
}
.icons .remove{
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.472 4.125l-.633 7.166a1 1 0 01-.997.912h-3.88a1 1 0 01-.995-.912l-.634-7.166h7.139zM4.01.535h1.785v.897h2.07a1.5 1.5 0 011.5 1.5v.295H.44v-.295a1.5 1.5 0 011.5-1.5h2.07V.535z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat;
}
/* ul li.active:after{
    width:20px;
    right:-20px;
    content: '';
    position:absolute;
    height:100%;
    background: var(--board-bg);

    top:0;
} */
</style>
