<template>
    <div class="component" :style="componentCssVars">
        <div class="left" v-show="donorHosts.length">
            <donor-hosts/>
        </div>
        <div class="right">
            <router-view v-slot="{ Component, route }">
                <transition name="fade" mode="out-in">
                    <keep-alive>
                        <component :is="Component" :key="route.fullPath"/>
                    </keep-alive>
                </transition>
            </router-view>
        </div>
    </div>
</template>

<script>
import { inject, ref } from 'vue';
import { useRouter, useRoute } from 'vue-router';
import DonorHosts from './donorHosts.vue'
import { useStore } from '../store';
// import DonorConnectManager from './donorConnectManager.vue'

export default {
    name: 'Settings',
    props: {
        // donorHosts: { type: Array, default: [] },
    },
    setup(props) {
        const placement = inject('placement');
        const router = useRouter();
        const route = useRoute();
        const store = useStore();
        console.log('current route: ', route, route.path, route.fullPath, route.name);
        if(!store.state.donorHosts.length){
            if(route.name != 'settings-host-plus'){
                router.push({ name: 'settings-host-plus' });
            }
        }else{
            if(route.name != 'settings-specific-host'){
                router.push({
                    name: 'settings-specific-host',
                    params: { 'hostId': store.state.donorHosts[0].id }
                });
            }
        }

        let isSliderMode = 'IFRAME' in placement.options && placement.options.IFRAME == 'Y';
        isSliderMode = isSliderMode && 'IFRAME_TYPE' in placement.options && placement.options.IFRAME_TYPE == 'SIDE_SLIDER';

        return {
            componentCssVars: {
                '--component-margin': ( isSliderMode ? 20 : 0) + 'px'
            },
            donorHosts: store.state.donorHosts
        }
    },
    components: { DonorHosts }
}
</script>

<style scoped>
.component{
    margin: var(--component-margin);
    display: flex;
    flex-direction: row;
}
.left{
    max-width:250px;
    padding:48px 20px 0 0;
    flex-grow: 1;
}
.right{
    flex-grow: 999;
}

.fade-enter-from,
.fade-leave-to {
    opacity:0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease-out;
}
</style>
