<template>
    <div class="leads">
        <!-- <button @click="logMatches">Log matches</button> -->
        <div class="selected" v-show="matches.length">
            <matches v-for="(block, index) in matches" :key="[block.virtualId, index, destEntity.getSpecification(block.to.subfilter[destEntity.uniqueBy]).id]"
                :source-specification="formSpecifications[block.from.subfilter.id]"
                :target-specification="destEntity.getSpecification(block.to.subfilter[destEntity.uniqueBy], true)"
                :matches="block"
                :form="lodash.find(allWebforms, ['id', block.from.subfilter.id])"
                :uniqueBy="virtualId"
                :index="index"
                :i18n="i18n.getMessages()"
                :is-folded="block[isFoldedKey]"
                @removeBlock="removeBlock($event)"
                @unfold="loadBlockSpecification($event)"
            />
        </div>

        <div class="new-form" v-if="allWebforms.length">
            <div class="header">
                <div class="title">
                    {{ matches.length + 1 }}. {{ i18n.gf('entity.addForm') }}
                </div>
            </div>
            <div class="content">
                <div class="add-form-msg">
                    {{ i18n.gf('entity.addFormMsg') }}
                    <div class="select-entities">
                        <dropdown :items="allWebforms"
                            identify-item-by="id"
                            result-from-key="id"
                            value-template="{{ name }}&nbsp;[#{{ id }}]"
                            :placeholder-if-empty="i18n.gf('entity.placeholder', { title: i18n.gf('entity.source.title') })"
                            :server-side-search="false"
                            :multiple="false"
                            skin="dropdown"
                            theme="dark"
                            :model-value="[]"
                            @update:modelValue="selectedWebformId = $event[0]"
                        />
                        <dropdown v-if="destEntityList.length > 1"
                            :items="destEntityList"
                            :identify-item-by="destEntity.uniqueBy"
                            :result-from-key="destEntity.uniqueBy"
                            :value-template="destEntity.selectOptionTpl"
                            :placeholder-if-empty="i18n.gf('entity.placeholder', { title: i18n.gf('entity.destination.title') })"
                            :server-side-search="false"
                            :multiple="false"
                            skin="dropdown"
                            theme="dark"
                            :model-value="[selectedDestEntityId]"
                            @update:modelValue="selectedDestEntityId = $event[0]"
                        />

                        <bx-button theme="blue" class="addForm" @click="addMatch">
                            {{ i18n.gf('entity.buttons.addBlock') }}
                        </bx-button>
                    </div>
                </div>
            </div>
        </div>

        <bx-button theme="green" @click.prevent="save" :button="saveButton" class="save">
            {{ i18n.gf('entity.buttons.save') }}
        </bx-button>
        <report :title="i18n.gf('universal.report.success.title')" :report="report"/>
    </div>
</template>

<script>
import { ref, reactive, inject } from 'vue';
import { I18nClass } from 'webformat-jse';
import { http } from 'webformat-jse';
import { useI18n } from 'vue-i18n';
import Matches from './matches.vue'
import { default as Report, ReportClass } from 'webformat-jse/ui/report'
import { default as bxButton, BxButtonClass } from 'webformat-jse/ui/buttons/bx';
import { default as Dropdown } from 'webformat-jse/ui/forms/dropdown';
import { useRoute } from 'vue-router';

export default {
    name: 'Entity',
    props: {
        hostId: { type: Number }
    },
    setup(props, context) {
        const baseUrl = '/hosts/' + props.hostId;
        const allWebforms = reactive([]);
        const selectedWebforms = reactive([]);
        const selectedWebformId = ref(0);
        const credentials = inject('credentials');
        const report = reactive((new ReportClass()).type('inline').hide());
        const saveButton = reactive(new BxButtonClass());
        const leadSpecification = reactive([]);
        let formSpecifications = {};
        const matches = reactive([]);
        const route = useRoute();
        const destEntity = new route.meta.b24entity(credentials, baseUrl);
        const destEntityList = reactive([]);
        const virtualId = Symbol('id');
        const isFoldedKey = Symbol('isFolded');

        const sourceEntityType = 'webform';
        const selectedDestEntityId = ref(0);

        const i18n = new I18nClass({
            ru: {
                universal: {
                    report: {
                        success: {
                            title: 'Успешно!',
                            message: 'Данные успешно сохранены!'
                        },
                        error: {
                            title: 'Ошибка!',
                            message: 'Непредвиденная ошибка сохранения данных!',
                            csrf: 'Неверный CSRF-токен (или ошибка поддержки cookies)!'
                        },
                    }
                },
                entity: {
                    source: {
                        title: 'вебформу'
                    },
                    addForm: 'Подключить вебформу к Битрикс24',
                    addFormMsg: 'Подключите новую вебформу, чтобы настроить соответствия полей!',
                    buttons: {
                        addBlock: 'Подключить',
                        addPair: 'Соответствие',
                        save: 'Сохранить'
                    },
                    placeholder: '--выберите {title}--',
                    destination: destEntity.localization('ru')
                },
            }
        });

        function addMatch(){
            destEntity.getSpecification(selectedDestEntityId.value)
            .then(destSpecification => {
                matches.push({
                    [virtualId]: Symbol(),
                    [isFoldedKey]: false,
                    active: true,
                    from: {
                        "type": "webform",
                        "subfilter": { "id": selectedWebformId.value }
                    },
                    to: {
                        "type": destEntity.type,
                        "subfilter": destEntity.getEntitySubfilter(selectedDestEntityId.value)
                    },
                    pairs: [ { source: "", rawSource: [], target: "", extended: false }]
                });
            });
            // console.log('selectedDestEntityId: ', selectedDestEntityId);
        }

        function save(){
            saveButton.preloading(true).disabled(true);
            report.hide();
            /* let rawMatches = {};
            for (const [webformId, match] of Object.entries(matches)) {
                let flattenMatch = unref(match);
                if(flattenMatch.length){
                    rawMatches[webformId] = flattenMatch;
                }
            }
            if(!Object.entries(rawMatches).length){ return; } */

            console.log('matches to be saved: ', matches);

            http.post(baseUrl + '/options/matches', {
                type: destEntity.type,
                matches: matches,
                ...credentials
            }).then(payload => {
                console.log('[leads] save results: ', payload);
                report.title(i18n.gf('universal.report.success.title')).success(i18n.gf('universal.report.success.message'));
            }).catch(response => {
                console.warn('[leads] This buggy situation #E1GBNhnxMUGy should be treated correctly! ', response);
                report.title(i18n.gf('universal.report.error.title'));
                if(response.status == 419){
                    report.error(i18n.gf('universal.report.error.csrf'));
                }else{
                    report.error(i18n.gf('universal.report.error.message'));
                }
            }).finally(() => {
                report.show();
                saveButton.preloading(false).disabled(false);
            });
        }

        function logMatches(){
            console.log('[leads] your matches: ', matches);
        }

        function removeBlock(virtualIdValue){
            for (const [index, match] of Object.entries(matches)) {
                if(match[virtualId] == virtualIdValue){
                    matches.splice(index, 1);
                    break;
                }
            }
        }

        function loadBlockSpecification(virtualIdValue){
            console.log('loadBlockSpecification triggered!');
            for (const [index, match] of Object.entries(matches)) {
                if(match[virtualId] == virtualIdValue){
                    console.log('loading for match ', match);
                    console.log('id ', match.to.subfilter.id);
                    destEntity.getSpecification(match.to.subfilter.id)
                    break;
                }
            }
        }

        destEntity.loadEntities().then(entities => {
            Object.assign(destEntityList, entities);
            return Promise.all([
                http.post(baseUrl + '/interact', {
                    payload: {
                        cmd: 'Webformat\\FormTransmitter\\Http\\Cmd\\WebformIndex',
                    },
                    ...credentials
                }).catch(response => {
                    console.warn('[leads] This buggy situation #rvGCXk5YE3EA should be treated correctly! ', response);
                }),

                http.post(baseUrl + '/interact', {
                    payload: {
                        cmd: 'Webformat\\FormTransmitter\\Http\\Cmd\\WebformGetSpecification',
                    },
                    ...credentials
                }).catch(response => {
                    console.warn('[leads] This buggy situation #O!hvK4MJsK&a should be treated correctly! ', response);
                }),

                http.get(baseUrl + '/options/matches', {
                    type: destEntity.type,
                    ...credentials
                }).catch(response => {
                    console.warn('[leads] This buggy situation #35DTmSaiN3yO should be treated correctly! ', response);
                })
            ])
            .then(responses => {
                const loadedWebforms = responses[0];
                const loadedWebformSpec = responses[1];
                const loadedMatches = responses[2];
                // const loadedEntitySpec = responses[3];

                allWebforms.splice(0);
                loadedWebforms.forEach(webform => {
                    allWebforms.push(webform);
                });

                for (const [webformId, fields] of Object.entries(loadedWebformSpec)) {
                    formSpecifications[webformId] = fields;
                }

                loadedMatches.forEach(match => {
                    if(!('active' in match)){
                        match.active = true;
                    }
                    matches.push({
                        [virtualId]: Symbol(),
                        ...match
                    });
                });
                // Object.assign(matches, loadedMatches);
                // Object.assign(leadSpecification, loadedEntitySpec);

                //all data loaded:
                /* if(allWebforms.length){
                    selectedWebformId.value = allWebforms[0].id;
                } */

                /* for (const [webformId, webformMatches] of Object.entries(matches)) {
                    if(webformMatches.length){
                        addToSelected(webformId);
                    }
                } */
            });
        });


        return {
            lodash: _, allWebforms,
            /* selectedWebforms, availableWebforms,  addToSelected, */
            selectedWebformId, leadSpecification,
            formSpecifications, matches, report,
            save, saveButton, i18n, logMatches,
            removeBlock, destEntityList, destEntity,
            selectedDestEntityId, addMatch,
            virtualId, isFoldedKey,
            loadBlockSpecification
        }
    },
    components: { Matches, Report, bxButton, Dropdown }
}
</script>

<style>
.leads select{
    border: 1px solid rgba(83,92,105,.2);
    font: 15px/30px Helvetica Neue,Arial,Helvetica,sans-serif;
    outline: none;
    padding: 2px 10px;
    min-height: 33px;
}

.leads button{
    background-color: #12b1e3;
    border: 1px solid #12b1e3;
    border-radius: 2px;
    color: #fff;
    padding: 0 20px;
    /* font: 12px/31px OpenSans-Bold,Helvetica Neue,Arial,Helvetica,sans-serif; */
    /* font-size: 12px; */
    /* line-height:31px; */
    text-transform: uppercase;
    transition: background-color .16s linear,color .16s linear,opacity .16s linear,border-color .16s linear;
    cursor:pointer;

    vertical-align: top;
}
.leads button:hover{
    background-color: #3eddff;
    border-color: #3eddff;
}

.new-form .dropdown .toggler,
.new-form .dropdown .selected-item
{
    height:20px;
}
.new-form .dropdown .stage{
    min-height:20px;
    line-height:20px;
}
.select-entities .dropdown .auditorium{
    color:black;
    text-align:left;
}
</style>
<style scoped>
    .leads{
        /* position:relative; */
        width:100%;
    }
    .selected > *{
        margin-bottom: 20px;
        padding-bottom: 20px;
        /* border-bottom: 1px dashed grey; */
    }

    .leads > div{
        margin-bottom:30px;
    }

    .leads button{
        margin-left: 20px;
    }
    .leads button.save{
        margin-left:0;
    }

    .leads button.save{
        margin-left:0;
        font-weight:bold;
        background: #bbed21;
        border-color: #bbed21;
        color: #535c69;
    }
    .leads button.save:hover{
        background: #d2f95f;
        border-color: #d2f95f;
    }
    .leads button.save:active{
        background: #d2f95f;
        border-color: #b2e232;
    }
    button.save{
        display:inline-block;
    }
    .report{
        opacity:0.6
    }


    /********** new form card styles ********/
    .new-form{
        background: #3775a1;
        padding: 12px 16px;
        border-radius: 5px;
        min-width: 60%;
        max-width: 80%;
    }
    .new-form .header{
        font-size:18px;
        display: flex;
        justify-content: space-between;
    }
    .new-form .header > *{
        flex-grow: 1
    }
    .new-form .header .title{
        display:inline-block;
        color:white;
    }
    .new-form .header .dropdown{
        display:inline-block;
    }

    .new-form .content{
        padding-top: 11px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        margin-top:12px;

        color:white;
    }
    .new-form .add-form-msg{
        border: 2px dashed rgba(255, 255, 255, 0.9);
        border-radius:2px;
        font-size:22px;
        padding:10px 26px;
        text-align:center;
        background: rgba(255, 255, 255, 0.22);
    }
    .new-form .add-form-msg:hover{
        background: rgba(255, 255, 255, 0.3);
    }
    .new-form button.addForm{
        --height:28px;
        border-radius: calc(var(--height) * 0.5);
        vertical-align: middle;
    }
    .new-form .dropdown{
        margin-left:10px;
    }
    .select-entities .dropdown{
        display:inline-block;
    }
</style>
