<template>
    <div class="matches card">
        <div class="header">
            <div>
                <div class="title">
                    {{ index*1 + 1 }}. {{ i18n.gf('matches.webform') }} "{{ form.name }}" (#{{ form.id }})
                    <span class="icons">
                        <i class="remove"
                            :title="i18n.gf('matches.removeBlock')"
                            @click="removeBlock"
                        ></i>
                    </span>
                </div>
                <div class="subtitle">
                    {{ i18n.gf('matches.subtitle') }}: {{ matches.pairs.length }}
                </div>
                <div class="active">
                    <input type="checkbox" :id="'active-' + uid" v-model="matches.active"/>
                    <label :for="'active-' + uid">&nbsp;Активно</label>
                </div>
            </div>
            <div>
                <bx-button theme="green" class="addPair plus" @click="addPair">
                    {{ i18n.gf('matches.addPair') }}
                </bx-button>
            </div>
            <div class="spoiler-switcher" @click="toggleFold" :class="{folded: isFolded}">&nbsp;</div>
        </div>
        <transition name="collapse">
            <div class="content" v-show="!isFolded">
                <table v-show="matches.pairs.length">
                    <tr v-for="(pair, index) in matches.pairs" :key="pair[virtualPairId]">
                        <td>
                            <textarea v-if="pair.extended"
                                @contextmenu.prevent="addContextMenu($event)"
                                v-model="pair.source"
                            ></textarea>
                            <dropdown v-else :items="Object.values(sourceSpecification)"
                                identify-item-by="code"
                                result-from-key="code"
                                value-template="{{ title }}"
                                :placeholder-if-empty="i18n.gf('matches.placeholder', { title: i18n.gf('matches.webform').toLowerCase() })"
                                :server-side-search="false"
                                :multiple="false"
                                skin="dropdown"
                                theme="dark"
                                :model-value="pair.rawSource"
                                @update:modelValue="writeSource($event, pair)"
                            />
                            <div class="extended">
                                <input type="checkbox" :id="'pair-' + index + '-' + uid" v-model="pair.extended"/>
                                <label :for="'pair-' + index + '-' + uid">&nbsp;Расширенный режим</label>
                            </div>
                        </td>
                        <td class="arrow"><b>&#8658;</b></td>
                        <td>
                            <dropdown :items="Object.values(targetSpecification)"
                                identify-item-by="code"
                                result-from-key="code"
                                value-template="{{ title }}&nbsp;[{{ code }}]"
                                :placeholder-if-empty="i18n.gf('matches.placeholder', { title: i18n.gf('entity.destination.title') })"
                                :server-side-search="false"
                                :multiple="false"
                                skin="dropdown"
                                theme="dark"
                                :model-value="[ pair.target ]"
                                @update:modelValue="pair.target = $event[0]"
                            />
                        </td>
                        <td class="icons">
                            <i class="remove"
                                :title="i18n.gf('matches.removePair')"
                                @click="removePair($event, index)"
                            ></i>
                        </td>
                    </tr>
                </table>
            </div>
        </transition>
    </div>
</template>

<script>
import { computed, ref, isRef, isReactive, getCurrentInstance, inject, watch } from "vue";
import { I18nClass } from 'webformat-jse';
import { default as BxButton } from 'webformat-jse/ui/buttons/bx';
import { default as Dropdown } from 'webformat-jse/ui/forms/dropdown';

export default {
    props: {
        form: {type: Object, default: {}},
        sourceSpecification: {type: Object, default: {}},
        targetSpecification: {type: Object, default: {}},
        matches: Object,
        uniqueBy: [ String, Number, Symbol ],
        index: Number,
        i18n: { type: Object, default: {} },
        isFolded: { type: Boolean, default: true },
    },
    emits: ['removeBlock', 'unfold'],
    setup(props, context) {
        const app = getCurrentInstance();
        const uid = app.uid;
        let contextMenuTarget;
        const isFolded = ref(props.isFolded);
        const virtualPairId = Symbol('pairId');
        const matches = props.matches;
        _.forEach(matches.pairs, pair => pair[virtualPairId] = Symbol());

        const i18n = new I18nClass({
            ru: {
                matches: {
                    webform: 'Вебформа',
                    subtitle: 'Настроено соответствий',
                    addPair: 'Соответствие',
                    removePair: 'Удалить соответствие',
                    removeBlock: 'Отключить вебформу от Битрикс24',
                    placeholder: '--{title}: выберите поле--',
                },
                ...props.i18n.ru
            }
        });

        let menuSkeleton = {
            fields: {
                label: 'Поля вебформы',
                children: convertSpecToMenu(props.sourceSpecification)
            },
            form: {
                label: 'Информация о вебформе',
                children: {
                    'form.id': { label: 'ID' },
                    'form.name': { label: 'Название' }
                }
            }
        };
        /* if(!isReactive(props.matches)){
            console.error('[matches] "Matches" property should be a reactive object!');
        } */

        function convertSpecToMenu(fieldSpecification){
            let result = {};
            Object.keys(fieldSpecification).forEach(code => {
                result['fields.' + code] = {
                    label: fieldSpecification[code].title,
                }
            });
            return result;
        }

        function buildMenuStructure(skeleton, parent){
            if(typeof parent === 'undefined'){ parent = {}; }
            let result = [];
            Object.keys(skeleton).forEach(code => {
                let base = skeleton[code];
                let item = (() => ({...base, ...{
                    code, parent,
                    onClick: insertMacros
                }}))();
                if('children' in base){
                    item.children = buildMenuStructure(base.children, item);
                }
                result.push(item);
            });

            return result;
        }
        let menuStructure = buildMenuStructure(menuSkeleton);

        function addContextMenu(e){
            contextMenuTarget = e.target;
            app.appContext.app.config.globalProperties.$contextmenu({
                x: e.x,
                y: e.y,
                items: menuStructure
            });
        }

        function insertMacros(){
            paste(contextMenuTarget, '{{ ' + this.code + ' }}');
        }

        function paste(myField, myValue) {
            //IE support
            if (document.selection) {
                myField.focus();
                sel = document.selection.createRange();
                sel.text = myValue;
            }
            // Microsoft Edge
            else if(window.navigator.userAgent.indexOf("Edge") > -1) {
            var startPos = myField.selectionStart; 
            var endPos = myField.selectionEnd; 

            myField.value = myField.value.substring(0, startPos)+ myValue 
                    + myField.value.substring(endPos, myField.value.length); 

            var pos = startPos + myValue.length;
            myField.focus();
            myField.setSelectionRange(pos, pos);
            }
            //MOZILLA and others
            else if (myField.selectionStart || myField.selectionStart == '0') {
                var startPos = myField.selectionStart;
                var endPos = myField.selectionEnd;
                myField.value = myField.value.substring(0, startPos)
                    + myValue
                    + myField.value.substring(endPos, myField.value.length);
            } else {
                myField.value += myValue;
            }
            triggerEvent(myField,'input');
        }

        function triggerEvent(el, type){
            if ('createEvent' in document) {
                // modern browsers, IE9+
                var e = document.createEvent('HTMLEvents');
                e.initEvent(type, false, true);
                el.dispatchEvent(e);
            } else {
                // IE 8
                var e = document.createEventObject();
                e.eventType = type;
                el.fireEvent('on'+e.eventType, e);
            }
        }

        function writeSource($payload, pair){
            pair.rawSource = $payload;
            pair.source = '{{ fields.' + $payload[0] + ' }}'
        }

        function removePair($event, index){
            matches.pairs.splice(index, 1)
        }

        function removeBlock(){
            context.emit('removeBlock', matches[props.uniqueBy]);
        }


        function addPair(){
            matches.pairs.push({target:'', source: '', [virtualPairId]: Symbol()});
        }

        function toggleFold(){
            isFolded.value = !isFolded.value;
            console.log('toggleFold triggered! new isFolded = ', isFolded);
            if(!isFolded.value){
                context.emit('unfold', matches[props.uniqueBy]);
            }
        }

        /* watch(props.targetSpecification, (newV, prevV) => {
            console.log('[dropdown] new targetSpecification: ', props.targetSpecification);
        }) */

        return {
            uid,
            matches: matches,
            form: props.form,
            targetSpecification: props.targetSpecification,
            sourceSpecification: props.sourceSpecification,
            addContextMenu,
            i18n, isFolded,
            writeSource, removePair, removeBlock,
            uniqueBy: props.uniqueBy,
            addPair,
            index: props.index,
            virtualPairId,
            toggleFold
        }
    },
    components: { BxButton, Dropdown }
}
</script>
<style scoped>
    .matches{
        font: 18px "OpenSans-Regular",Helvetica,Arial,sans-serif;
        box-sizing:border-box;
        min-width:60%;
        max-width:80%;
    }
    .matches table {
        border-spacing: 0;
        border-collapse: collapse;
        /* width:100%; */
    }
    .matches th {
        background: #e6e6e6;
        padding: 5px;
    }
    .matches td{
        vertical-align: top;
        padding-bottom:15px;
    }
    .arrow{
        font-size: 27px;
        padding: 0 20px;
        text-align:center;
    }
    .arrow b{
        display:inline-block;
        position:relative;
        top:2px;
        transform: scaleX(2);
        color:white;
    }
    .matches textarea{
        vertical-align: middle;
        min-height: 40px;
        min-width:300px;
    }

    .add-match{
        margin-top: 20px;
    }

    select{
        max-width:300px;
    }

    /*************** card *********/
    .card{
        background: #3775a1;
        padding: 12px 16px;
        border-radius: 5px;
    }
    .card .header{
        color:white;
        display: flex;
        justify-content: space-between;
    }
    .card .subtitle, .extended, .active{
        color: rgba(255, 255, 255, 0.7);
        font-size:12px;
    }
    .card .header > *{
        flex-grow: 1
    }
    .card .header > *:first-child{
        flex-grow: 9999
    }
    .card .spoiler-switcher{
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='9'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M13.667.151L9.14 4.678 7.999 5.801 6.88 4.678 2.353.151.756 1.748 8.01 9.003l7.254-7.255z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        transition: .2s;
        width:30px;
        height:30px;

        cursor:pointer;
    }
    .card .spoiler-switcher:hover{
        transform: scale(1.5)
    }
    .card .spoiler-switcher.folded{
        transform: rotate(180deg);
    }
    .card .spoiler-switcher.folded:hover{
        transform: rotate(180deg) scale(1.5);
    }

    .card .content{
        padding-top: 11px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        margin-top:12px;
    }

    .collapse-enter-from,
    .collapse-leave-to{
        max-height:0;
        overflow:hidden;
    }
    .collapse-enter-to,
    .collapse-leave-from{
        max-height:300px;
    }
    .collapse-enter-active,
    .collapse-leave-active{
        transition: all 0.25s ease;
    }

    button.addPair{
        border-radius: calc(var(--height) * 0.5);
    }
    .card textarea{
        color:white;
        background: rgba(255, 255, 255, 0.3);
        border:1px solid rgb(198, 205, 211);
        font-size:13px;
        padding:2px 4px;
        outline:none;
    }

    .extended, .active{
        padding-top:4px;
    }
    .extended checkbox,
    .active checkbox
    {
        vertical-align:middle;
    }
    .extended *, .active *{
        cursor:pointer;
    }

    .icons{
        visibility:hidden;
        padding: 10px 0 0 10px;
    }
    div:hover > .icons,
    tr:hover .icons
    {
        visibility:visible;
    }
    .icons *{
        display:inline-block;
        width:10px;
        height:13px;
        opacity:0.5;
        cursor:pointer;
        transition: all 0.25s ease;
    }
    .icons *:hover{
        opacity:0.9;
        transform: scale(1.5);
    }
    .icons .remove{
        background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.472 4.125l-.633 7.166a1 1 0 01-.997.912h-3.88a1 1 0 01-.995-.912l-.634-7.166h7.139zM4.01.535h1.785v.897h2.07a1.5 1.5 0 011.5 1.5v.295H.44v-.295a1.5 1.5 0 011.5-1.5h2.07V.535z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat;
    }
</style>

<style>
    .card .dropdown .stage{
        min-width:292px;
    }
</style>