<template>
    <div>
        This is a smart processes tab content!
        <input type="text"/>
    </div>
</template>

<script>
// import { useRouter, useRoute } from 'vue-router';
import { useI18n } from 'vue-i18n';

export default {
    name: 'SmartProcesses',
    props: {
        // id: { type: Number },
    },
    setup(props, context) {

        return {

        };
    },
};
</script>

<style scoped>

</style>
